body {
    margin: 0;
    padding: 0;
  }
  
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  input,
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  input:focus {
    outline: none;
    border: 1px solid grey;
  }
  
  button {
    cursor: pointer;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .container__inputAndBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chat__input {
    padding: 15px;
    font-size: 15px;
    width: 60%;
    border: 1px solid grey;
    box-sizing: border-box;
  }
  
  .btn__container {
    width: 40%;
    display: flex;
  }
  
  .chat__btn {
    flex-grow: 1;
    width: 120px;
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 15px;
    margin-left: 15px;
  }
  
  .container__chat {
    margin-top: 25px;
    border: 1px solid grey;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .message {
    border: 1px solid grey;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    max-width: 100%;
    text-align: start;
  }
  
  .message:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .myMessage {
    margin-left: auto;
    border-top-left-radius: 13px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
  
  .interlocutorsMessage {
    margin-right: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
  
  .chat__input,
  .chat__btn {
    border-radius: 10px;
  }
  